# Node modules
node_modules/

# Build output
build/
dist/

# images
/public

# Environment files
.env
.env.local
.env.development
.env.production

# Logs
*.log

# IDEs and editors
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Coverage reports
coverage/
