.steps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  height: 500px;
  margin: auto;
  outline: none;
  transition: transform 0.3s ease-in-out;
}

.steps-container:focus {
  transform: scale(1.02);
}

.close-button {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #007bff;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}

.steps-header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.step-indicator {
  flex: 1;
  text-align: center;
}

.step-indicator button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: black; /* Added this line */
}

.step-indicator button:hover {
  transform: scale(1.1);
}

.step-indicator.completed button {
  font-weight: bold;
  color: green;
}

.step-indicator.skipped button {
  font-weight: bold;
  color: red;
}

.steps-content {
  display: flex;
  align-items: center;
  text-align: left;
  flex: 1;
  overflow-y: auto;
}

.steps-text {
  flex: 1;
  padding: 0 20px;
}

.steps-text h2 {
  margin: 0;
  font-weight: bold;
}

.steps-text h3 {
  margin: 10px 0;
  font-weight: bold;
}

.steps-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
}

.steps-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.steps-image img:hover {
  transform: scale(1.05);
}

.complete-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.complete-button:hover {
  background-color: #0056b3;
}

.steps-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.steps-navigation button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.steps-navigation button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.steps-navigation button:not(:disabled):hover {
  background-color: #0056b3;
}
